* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header {
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header h1 {
    font-size: 48px;
}

#gridSizeChangeBtn {
    padding: 4px 16px;
    font-size: 14px;
    border-radius: 12.5px;
}

#pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.padRows {
    display: flex;
}

